NODE_ENV=
PORT=
MONGODB_URI=
JWT_SECRET=
JWT_REFRESH_SECRET=
JWT_EXPIRE=
JWT_REFRESH_EXPIRE=
GOOGLE_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
PAYMOB_API_KEY=
PAYMOB_CARD_INTEGRATION_ID=
PAYMOB_WALLET_IFRAME_ID=
PAYMOB_HMAC_SECRET=
CLOUDINARY_API_SECRET=
CLOUDINARY_API_KEY=
CLOUDINARY_CLOUD_NAME=
CORS_ORIGIN=
RATE_LIMIT_WINDOW_MS=
RATE_LIMIT_MAX_REQUESTS=
MAX_FILE_SIZE=
UPLOAD_PATH=
FRONTEND_URL=
BREVO_API_KEY=
BREVO_SENDER_EMAIL=
BREVO_SENDER_NAME=
OTP_EXPIRATION_MINUTES=
OTP_MAX_ATTEMPTS=
OTP_RATE_LIMIT_MAX_REQUESTS=
OTP_RATE_LIMIT_WINDOW_MINUTES=